<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118966819353-chk59n3v101ccjd67tr18os4mur41q7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118966819353-chk59n3v101ccjd67tr18os4mur41q7d</string>
	<key>API_KEY</key>
	<string>AIzaSyB786mEV26yhVnYTS4XlHkyEcArABJUdKE</string>
	<key>GCM_SENDER_ID</key>
	<string>118966819353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>project-5e9dd</string>
	<key>STORAGE_BUCKET</key>
	<string>project-5e9dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118966819353:ios:55e4c014ad95078ef8e888</string>
</dict>
</plist>